<!DOCTYPE html>
<html>
<head>
    <title>Рейтинг предметов</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/style.css">
    <script src="../library/jquery-2.1.0.min.js"></script>
</head>
<body>
    <div class="inner">