body {
    margin: 0;
    padding: 0;
    background: cadetblue;
}
.inner {
    width: 1000px;
    margin: 20px auto;
    border: solid 1px black;
    padding: 25px;
    box-sizing: border-box;
    background: #27a07c;
    position: relative;
}

.discipline {
    border: dashed 1px white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px 0;
    height: 285px;
    width: 93%;
    position: absolute;
    opacity: 0;
    transition: .5s all;
}
.discipline > h2 {
    text-align: center;
}
.discipline > .cont {
    width: 70%;
    margin: 0 auto;
}
.discipline > .cont > .like {
    text-align: right;
    position: relative;
    overflow: hidden;
}
.discipline > .cont > .like  .pretext {
    position: relative;
    bottom: 30px;
    font-size: 25px;
}
.discipline > .cont > .like  .num-like {
    position: absolute;
    top: 47px;
    right: 30px;
    font-size: 25px;
}
.discipline > .cont > .like  img {
    width: 100px;
}
.likeplus {
    cursor: pointer;
    width: 205px;
    float: right;
}