html { background: gray; }

body {
    margin: 0 auto;
    text-align: center;
}

#taskTable {
    margin: 0 auto;
    border: solid 2px black;
    width: 70%;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
#headTable {
    margin-bottom: 30px;
    overflow: hidden;
    font-weight: bold;
}
#headTable div {
    padding: 5px;
    border: solid 1px black;
    margin: 5px;
    float: left;
}

.sampleClass {
    overflow: hidden;
}

.line { float: left; width: 33.3%; min-height: 100px;}
.line div {
    padding: 5px;
    border: solid 1px black;
    margin: 5px;
}
.line div:hover {
    cursor: pointer;
}
.line div:click {
    cursor: move;
}
.empty {
    height: 20px;
    border-style: dashed!important;
}


#journalTable {
    width: 80%;
    margin: auto;
    border-color: black;
    border: solid 1px black;
}