/*
* @autor: Vetal
* mixins framework
*/

/* Градиент */
  // Vertical gradient
.vertical(@startColor: #aaa, @stopColor: #000) {
  background: mix(@startColor, @stopColor, 50%);
  background: -moz-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@startColor), color-stop(100%,@stopColor));
  background: -webkit-linear-gradient(top,  @startColor 0%,@stopColor 100%);
  background: -o-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: -ms-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: linear-gradient(to bottom, @startColor 0%, @stopColor 100%);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@stopColor));
}

// Horizontal gradient
.horizontal(@startColor: #aaa, @stopColor: #000) {
  background: mix(@startColor, @stopColor, 50%);
  background: -moz-linear-gradient(left, @startColor 0%, @stopColor 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,@startColor), color-stop(100%,@stopColor));
  background: -webkit-linear-gradient(left,  @startColor 0%,@stopColor 100%);
  background: -o-linear-gradient(left, @startColor 0%, @stopColor 100%);
  background: -ms-linear-gradient(top, @startColor 0%, @stopColor 100%);
  background: linear-gradient(to right, @startColor 0%, @stopColor 100%);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@stopColor));
}

// Directional gradient
.directional(@startColor: #aaa, @stopColor: #000, @deg: 45deg) {
  background-image: -moz-linear-gradient(@deg, @startColor, @stopColor);
  background-image: -webkit-linear-gradient(@deg, @startColor, @stopColor);
  background-image: -o-linear-gradient(@deg, @startColor, @stopColor);
  background-image: linear-gradient(@deg, @startColor, @stopColor);

  background-color: mix(@startColor, @stopColor, 60%);
  background-repeat: repeat-x;
}

// Radial gradient
.radial(@innerColor: #aaa, @outerColor: #000) {
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
  background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
  background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
  background-image: -o-radial-gradient(circle, @innerColor, @outerColor);

  background-color: mix(@innerColor, @outerColor, 60%);
  background-repeat: no-repeat;
}

/* Внутреняя тень */
.box-shadow-inset(@x: 0, @y: 0, @blur: 10px, @color: #666) {
  -webkit-box-shadow: inset @x @y @blur @color;
  box-shadow: inset @x @y @blur @color;
}

/* Внешняя тень */
.box-shadow(@x: 0, @y: 0, @blur: 10px, @color: #666){
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

/* Пуленепробиваемый background-size */
.background-size(@val: 100%) {
  -o-background-size: @val; /* opera ≥ 9.5 */
  -webkit-background-size: @val; /* Safari ≥ 5.0, Chrome ≥ 4.0 */
  -khtml-background-size: @val; /* Konqueror ≥ 3.5.4 */
  -moz-background-size: @val; /* Firefox ≥ 3.6 */
}

/* Тень к тексту */
.text-shadow(@x: 1px, @y: 1px, @radius: 2px, @color: #000){
  -webkit-text-shadow: @arguments;
  -moz-text-shadow: @arguments;
  text-shadow: @arguments;
}
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
.text-border(@color: #000, @width: 3px) {
  text-shadow: @color @width 0px,
  @color -@width 0px,
  @color 0px @width,
  @color 0px -@width,
  @color @width @width,
  @color -@width -@width,
  @color -@width @width,
  @color @width -@width,
  @color 0 0 1px;
}

/* Закругления */
.rounded(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// Borner radius
.border-radius(@topLeft: 0, @topRight: 0, @bottomRight: 0, @bottomLeft: 0) {
  // Top Left
  -webkit-border-top-left-radius: @topLeft;
  -moz-border-radius-topleft: @topLeft;
  border-top-left-radius: @topLeft;
  // Top Right
  -webkit-border-top-right-radius: @topRight;
  -moz-border-radius-topright: @topRight;
  border-top-right-radius: @topRight;
  // Bottom Right
  -webkit-border-bottom-right-radius: @bottomRight;
  -moz-border-radius-bottomright: @bottomRight;
  border-bottom-right-radius: @bottomRight;
  // Bottom Left
  -webkit-border-bottom-left-radius: @bottomLeft;
  -moz-border-radius-bottomleft: @bottomLeft;
  border-bottom-left-radius: @bottomLeft;
}

/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
.column(@count: 3, @gap: 1em) {
  -webkit-column-count: @count; -webkit-column-gap: @gap;
  -moz-column-count: @count;    -moz-column-gap: @gap;
  column-count: @count;         column-gap: @gap;
}

/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
.transition(@arguments: all 1s) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}

/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}

// Opacity
.opacity(@opacity: 0.5) {
  opacity: @opacity;
  @opperc: @opacity * 100;
  filter: ~"alpha(opacity=@{opperc})";
}


// Background clip
.background-clip(@argument: padding-box) {
  -webkit-background-clip: @argument;
  -moz-background-clip: @argument;
  background-clip: @argument;
}

// Box sizing
.box-sizing(@sizing: border-box) {
  -webkit-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -ms-box-sizing: @sizing;
  box-sizing: @sizing;
}

// User select
.user-select(@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}

// Display: inline-block
.inline-block() {
  display: inline-block;
  *zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}

// Size
.size(@width, @height) {
  width: @width;
  height: @height;
}

// Center align
.center() {
  margin-left: auto;
  margin-right: auto;
}

//superCenter
.absoluteCenter() {
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}