/*
* @autor: Vetal
* mixins framework
*/
/* Градиент */
/* Внутреняя тень */
/* Внешняя тень */
/* Пуленепробиваемый background-size */
/* Тень к тексту */
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
/* Закругления */
/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
/* Комплементарная цветовая схема */
body {
  margin: 0;
  padding: 0;
  background: #a704a6;
}
.control {
  width: 1000px;
  margin: 20px auto;
  padding: 25px;
  box-sizing: border-box;
  background: #8e038d;
  text-align: center;
}
.control .panel-1 div {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
}
.control .panel-1 .i1 {
  background: #04a705;
}
.control .panel-1 .i2 {
  background: #0B6CA7;
  margin-right: 150px;
}
.control .panel-1 .content-scheme {
  background: #06f207;
}
.inner {
  width: 1000px;
  margin: 20px auto;
  border: solid 1px black;
  padding: 25px;
  box-sizing: border-box;
  background: #04a705;
}
.discipline {
  border: dashed 1px white;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}
.discipline > h2 {
  text-align: center;
}
.discipline > .cont {
  width: 70%;
  margin: 0 auto;
}
.discipline > .cont > .like {
  text-align: right;
  position: relative;
  overflow: hidden;
}
.discipline > .cont > .like .pretext {
  position: relative;
  bottom: 30px;
  font-size: 25px;
}
.discipline > .cont > .like .num-like {
  position: absolute;
  top: 47px;
  right: 30px;
  font-size: 25px;
}
.discipline > .cont > .like img {
  width: 100px;
}
.likeplus {
  cursor: pointer;
  width: 205px;
  float: right;
}
