@import "../../library/mixins.less";

/* Комплементарная цветовая схема */
@color-base: #04a705;
@color-complement1: spin(@color-base, 180);
@color-complement2: darken(spin(@color-base, 180), 5%);
@color-lighten1: lighten(@color-base, 15%);
@color-lighten2: lighten(@color-base, 30%);


body {
  margin: 0;
  padding: 0;
  background: @color-complement1;
}
.control {
  width: 1000px;
  margin: 20px auto;
  padding: 25px;
  box-sizing: border-box;
  background: @color-complement2;
  text-align: center;
  .panel-1 {
    div {
      display: inline-block;
      width: 70px; height: 70px;
      border: 1px solid #000000;
      .rounded(5px);
      margin: 0 10px;
      cursor: pointer;
    }
    .i1 {
      background: #04a705;
    }
    .i2 {
      background: #0B6CA7;
      margin-right: 150px;
    }
    .content-scheme {
      background: @color-lighten1;
    }
  }
}
.inner {
  width: 1000px;
  margin: 20px auto;
  border: solid 1px black;
  padding: 25px;
  box-sizing: border-box;
  background: @color-base;
}

.discipline {
  border: dashed 1px white;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}
.discipline > h2 {
  text-align: center;
}
.discipline > .cont {
  width: 70%;
  margin: 0 auto;
}
.discipline > .cont > .like {
  text-align: right;
  position: relative;
  overflow: hidden;
}
.discipline > .cont > .like  .pretext {
  position: relative;
  bottom: 30px;
  font-size: 25px;
}
.discipline > .cont > .like  .num-like {
  position: absolute;
  top: 47px;
  right: 30px;
  font-size: 25px;
}
.discipline > .cont > .like  img {
  width: 100px;
}
.likeplus {
  cursor: pointer;
  width: 205px;
  float: right;
}